body {
  font-family: system-ui, Helvetica Neue Medium;
  color: #e8e5df;
  background: #282828;
  /* set a href link color */
  a {
    color: #bc72f8;
  }
  /* Set a href link color for links that have been clicked */
  a:visited {
    color: #d8a1f7;
  }
}

flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 30%;
  max-width: 30%;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
}

.event-list {
  list-style: none;
  padding: 0;
}

.event-card {
  background: #3c3836;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.event-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 24px #0000004d;
}
