services:
  hockey-api:
    container_name: hockey-api
    build: ./HockeyAPI
    restart: always
    read_only: true
    tmpfs:
      - /tmp
      - /run
    ports:
      - "5600:8080"
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hockey-api.entrypoints=https"
      - "traefik.http.routers.hockey-api.rule=Host(`hockey.${SERVER_DOMAIN_NAME}`) && PathPrefix(`/api`)"
      - "traefik.http.routers.hockey-api.tls.certresolver=default"
      - "traefik.http.services.hockey-api.loadbalancer.server.port=8080"
  hockey-ui:
    container_name: hockey-ui
    build: ./HockeyUI
    restart: always
    read_only: true
    tmpfs:
      - /var/cache/nginx
      - /var/run
    ports:
      - "3600:8080"
    environment:
      - REACT_APP_API_URL=/api/get_events
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hockey-ui.entrypoints=https"
      - "traefik.http.routers.hockey-ui.rule=Host(`hockey.${SERVER_DOMAIN_NAME}`) && !PathPrefix(`/api`)"
      - "traefik.http.routers.hockey-ui.tls.certresolver=default"
      - "traefik.http.services.hockey-ui.loadbalancer.server.port=8080"
    depends_on:
      - hockey-api
networks:
  web:
    external: true
    name: web
