services:
  hockey-api:
    container_name: hockey-api
    build: /opt/docker/hockey-app/HockeyAPI
    restart: always
#     healthcheck:
#       test: ["CMD-SHELL", "python -c \"import requests; print(requests.get('http://localhost:8080/api/public_skate_events').text)\""]
#       interval: 1h
#       timeout: 5m
#       retries: 3
#       start_period: 30s
    ports:
      - "5600:8080"
    volumes:
      - /opt/docker/hockey-app/HockeyAPI:/app
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hockey-api.entrypoints=https"
      - "traefik.http.routers.hockey-api.rule=Host(`hockey.${SERVER_DOMAIN_NAME}`) && PathPrefix(`/api`)"
      - "traefik.http.routers.hockey-api.tls.certresolver=default"
      - "traefik.http.services.hockey-api.loadbalancer.server.port=8080"
  hockey-ui:
    container_name: hockey-ui
    build: /opt/docker/hockey-app/HockeyUI
    restart: always
    ports:
      - "3600:80"
    environment:
      - REACT_APP_API_URL=/api/public_skate_events
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hockey-ui.entrypoints=https"
      - "traefik.http.routers.hockey-ui.rule=Host(`hockey.${SERVER_DOMAIN_NAME}`) && !PathPrefix(`/api`)"
      - "traefik.http.routers.hockey-ui.tls.certresolver=default"
      - "traefik.http.services.hockey-ui.loadbalancer.server.port=80"
    depends_on:
      - hockey-api
networks:
  web:
    external: true
    name: web